torch==2.8.0
numpy==1.26.4
torchvision==0.23.0
tqdm
scikit-image==0.22.0
datasets==4.4.2
pillow==10.4.0
docutils==0.21.2
sphinx==7.4.7
comm==0.2.3
setuptools==68.2.2
requests==2.32.3
scipy==1.12.0
matplotlib==3.8.4
opencv-python==4.8.0.76
utils==1.0.2
scikit-learn==1.5.2
pandas==2.2.1
joblib==1.3.2
tensorflow==2.15.0
networkx==2.8.8
seaborn==0.13.2
ultralytics==8.2.98
selectivesearch==0.4
termcolor==1.1.0
customtkinter==5.2.2
future==1.0.0
pycocotools==2.0.7
keras==2.15.0
typing==3.7.4.3
h5py==3.14.0
PyYAML==6.0.2
torchsummary==1.5.1
beautifulsoup4==4.12.3